
main {
   background-color: #ffffff;
   margin: 0 auto;
   display: flex;
}

.logo-left {
   width: 39rem;
   height: 100vh;
   background-color: #2693FF;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-left .titulo-logo {
   display: block;
   font-size: 3rem;
}

/*===================================================*/

.login {
   margin: 0 auto;
   display: flex;
   align-items: center;  
}

.login .login-info {
   width: 23rem;
}

.login .login-info strong {
   color: #283848;   
}

.login .login-info form {
   margin-top: 2.25rem;
   display: flex;
   flex-direction: column;   
}

.login .login-info form label {
   font-size: 0.875rem;
   font-weight: 600;
   color: #4e657b;
   margin-bottom: 5px;
}

.login .login-info form input {
   height: 3.43rem;
   border-radius: 5px;
   border: 2px solid #BFDAEB;
   padding-left: 1.25rem;
   font-size: 1.25rem;
   outline: none;
}

.login .login-info form input:focus {
   border: 2px solid #2693FF;
}

.login .login-info form input:nth-child(2){
   margin-bottom: 1.37rem;  
}

.login .login-info .button {
   margin: 1.12rem 0 2.62rem 0;
   height: 3.43rem;
   border-radius: 5px;
   border: none;
   background-color: #1AD18F;
   font-weight: 700;
   color: #ffffff;
   cursor: pointer;
   transform: 0.4s;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
}



.login .login-info button:active {
   background-color: #13b97c;
}

.login .login-info a {
   font-size: 0.81rem;
   font-weight: 600;
   color: #2693FF;
}