$white-color = #FFFFFF
$blue-color = #2693ff
$gray-500 = #4e657b
$gray-100 = #bfdaeb
$green-100 = #0ed984
$green-400 = #1ad18f
$black-color = #283848
$red-200 = #FF4874
$yellow-400 = #FFC42E

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
   


html
   body
      background-color: $gray-500
      font-family: sans-serif
      

#app
   height: 100vh;
   max-width: 106.87rem;
   margin: 0 auto;
   
   
   
